<!DOCTYPE html>
<html>
<head>
	<title>General Facessembly</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="/js/preview.js"></script>
</head>
<body class="page-homepage template-homepage section-homepage environment-live">
  <div id="container">
    <div id="primary-content" role="main">
      <div id="unit-faces-content" class="unit">
        <header id="header">
          <h1>General Facessembly</h1>
        </header>
        <p title="It fits a gap in the market">
          <form action="/face" method="POST">
          		<label for="width">
          		<input type="text" name="width" placeholder="Width">
          		<label for="height">
          		<input type="text" name="height" placeholder="Height">
          		<select name="recipe-serves" id="recipe-serves">
          			 <option disabled="disabled" selected="selected">Choose your option</option>
          			 <option value="blur">Blur</option>
          			 <option value="pinkify">Pinkify</option>
          			 <option value="sepia">Sepia</option>
          			 <option value="negative">Negative</option>
          			 <option value="implode">Implode</option>
          		</select>
          		<input type="submit" value="Get Faceholder"> 
          	</form>

          	<div id="preview">
          		<img src="http://localhost:3000/200/200">
          	</div>
        </p>
        <image id="image-0" src="images/img-125.jpg"></image>
      </div>
      <div id="unit-many-many-pictures-of-small-faces" class="unit">
        <image id="image-1" src="images/img-81.jpg"></image>
        <image id="image-2" src="images/img-76.jpg"></image>
        <image id="image-3" src="images/img-58.jpg"></image>
        <image id="image-4" src="images/img-45.jpg"></image>
        <image id="image-5" src="images/img-34.jpg"></image>
        <image id="image-6" src="images/img-17.jpg"></image>
        <image id="image-7" src="images/img-103.jpg"></image>
      </div>
    </div>



    <footer id="footer" role="content-info">

      <p>HELLO WORLD</p>
    </footer>
  </div>

  </body>
  </html>