<!DOCTYPE html>
<html>
<head>
	<title>General Facessembly</title>
</head>
<body>
 <!-- 
 ________  _______   ________   _______   ________  ________  ___               ________ ________  ________  _______   ________   ________  _______   _____ ______   ________  ___           ___    ___ 
|\   ____\|\  ___ \ |\   ___  \|\  ___ \ |\   __  \|\   __  \|\  \             |\  _____\\   __  \|\   ____\|\  ___ \ |\   ____\ |\   ____\|\  ___ \ |\   _ \  _   \|\   __  \|\  \         |\  \  /  /|
\ \  \___|\ \   __/|\ \  \\ \  \ \   __/|\ \  \|\  \ \  \|\  \ \  \            \ \  \__/\ \  \|\  \ \  \___|\ \   __/|\ \  \___|_\ \  \___|\ \   __/|\ \  \\\__\ \  \ \  \|\ /\ \  \        \ \  \/  / /
 \ \  \  __\ \  \_|/_\ \  \\ \  \ \  \_|/_\ \   _  _\ \   __  \ \  \            \ \   __\\ \   __  \ \  \    \ \  \_|/_\ \_____  \\ \_____  \ \  \_|/_\ \  \\|__| \  \ \   __  \ \  \        \ \    / / 
  \ \  \|\  \ \  \_|\ \ \  \\ \  \ \  \_|\ \ \  \\  \\ \  \ \  \ \  \____        \ \  \_| \ \  \ \  \ \  \____\ \  \_|\ \|____|\  \\|____|\  \ \  \_|\ \ \  \    \ \  \ \  \|\  \ \  \____    \/  /  /  
   \ \_______\ \_______\ \__\\ \__\ \_______\ \__\\ _\\ \__\ \__\ \_______\       \ \__\   \ \__\ \__\ \_______\ \_______\____\_\  \ ____\_\  \ \_______\ \__\    \ \__\ \_______\ \_______\__/  / /    
    \|_______|\|_______|\|__| \|__|\|_______|\|__|\|__|\|__|\|__|\|_______|        \|__|    \|__|\|__|\|_______|\|_______|\_________\\_________\|_______|\|__|     \|__|\|_______|\|_______|\___/ /     
                                                                                                                         \|_________\|_________|                                           \|___|/      
                                                                                                                                                       
                                                                                                                                                       -->                                                  

<section>
Welcome to General Facessembly.
A quick and simple image placeholder service.
</section>

<section>
	<h1>HOW TO USE:</h1>
	Just specify the width + height of the size of the image that you need after our URL and you'll receive a placeholder image.
	<b>http://OURLINK.herokuapp.com/200/300</b> OR
	<b>http://OURLINK.herokuapp.com/*WIDTH*/*HEIGHT*</b>

</section>
</body>
</html>