<!DOCTYPE html>
<html>
<head>
	<title>General Facessembly</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="js/preview.js"></script>
</head>
<body class="page-homepage template-homepage section-homepage environment-live">
  <div id="container">
    <div id="primary-content" role="main">
      <div id="unit-faces-content" class="unit">
        <header id="header">
          <img src="css/images/logo/gf-logo.png" style="width:405px; height:145px">
          <h4>A free & simple placeholder image service.</h4>
        </header>
        <p>
          <form action="/face" method="POST">
          		<input type="text" name="width" placeholder="Width">
          		<input type="text" name="height" placeholder="Height">
          		<label for="effect">Effect: </label>
          		<select name="effect" id="selected-effect">
          			 <option selected="selected" value="default">Default</option>
          			 <option value="blur">Blur</option>
          			 <option value="pinkify">Pinkify</option>
          			 <option value="sepia">Sepia</option>
          			 <option value="negative">Negative</option>
          			 <option value="implode">Implode</option>
          		</select>
          		<input type="submit" value="Get Faceholder"> 
          	</form>
            <% if (messages) { %>
              <p>
              <% messages.forEach(function(message) { %>
                <%= message.msg %>
              <% }); %>
              </p>
            <% } %>
        </p>
        <h4>Effect Preview:</h4>
        <img id="preview" src="css/images/effects/image-default.jpeg"></img>
      </div>
      <div id="unit-many-many-pictures-of-small-faces" class="unit">
        <img id="image-1" src="css/images/web/img-81.jpg">
        <img id="image-2" src="css/images/web/img-76.jpg">
        <img id="image-3" src="css/images/web/img-100.jpg">
        <img id="image-4" src="css/images/web/img-45.jpg">
        <img id="image-5" src="css/images/web/img-34.jpg">
        <img id="image-6" src="css/images/web/img-167.jpg">
        <img id="image-7" src="css/images/web/img-103.jpg">
      </div>
    </div>



    <footer id="footer" role="content-info">

      <p>A Brogrammer's Production &copy;</p>
    </footer>
  </div>

  </body>
  </html>