<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>General Facessembly</title>
</head>
<body class="page-homepage template-homepage section-homepage environment-live">
  <a class="logo" href="https://generalassemb.ly">General Face-sembly</a>
  <div id="container">

    <div id="primary-content" role="main">

      <div id="unit-faces-content" class="unit">

        <header id="header">
          <h1>General Facessembly</h1>
        </header>

        <p title="It fits a gap in the market">
          <strong>A fun and personable image placeholder application.</strong>
          <strong>Plug your programming peers as your personalised placeholder alternative.</strong>
        </p>
        <p content="Filling further gaps">
          <h3>HOW TO USE:</h3>
          Just specify the width + height of the size of the image that you need after our URL and you'll receive a placeholder image.
        </p>
        <p class="links">
          <a href="/200/300">http://OURLINK.herokuapp.com/200/300</a> <br> OR add your own height and width: 
          <b> http://OURLINK.herokuapp.com/*WIDTH*/*HEIGHT*</b>
        </p>
        <image id="image-0" src="images/img-125.jpg"></image>
      </div>
      <div id="unit-many-many-pictures-of-small-faces" class="unit">
        <image id="image-1" src="images/img-81.jpg"></image>
        <image id="image-2" src="images/img-76.jpg"></image>
        <image id="image-3" src="images/img-58.jpg"></image>
        <image id="image-4" src="images/img-45.jpg"></image>
        <image id="image-5" src="images/img-34.jpg"></image>
        <image id="image-6" src="images/img-17.jpg"></image>
        <image id="image-7" src="images/img-103.jpg"></image>
      </div>
    </div>



    <footer id="footer" role="content-info">

      <p>HELLO WORLD</p>
    </footer>

  </div>

  </body>
  </html>