<!DOCTYPE html>
<html>
<head>
	<title>General Facessembly</title>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="/js/preview.js"></script>
</head>
<body>
<section>
Welcome to General Facessembly.
A quick and simple image placeholder service.
</section>

<section>
	<h1>HOW TO USE:</h1>
	Just specify the width + height of the size of the image that you need after our URL and you'll receive a placeholder image.
	<b>http://OURLINK.herokuapp.com/200/300</b> OR
	<b>http://OURLINK.herokuapp.com/*WIDTH*/*HEIGHT*</b>
	<form action="/face" method="POST">
		<label for="width">
		<input type="text" name="width" placeholder="Width">
		<label for="height">
		<input type="text" name="height" placeholder="Height">
		<select name="recipe-serves" id = "recipe-serves">
		 <option value="" disabled="disabled" selected="selected">Choose your option</option>
		 <option value="1">1</option>
		 <option value="2">2</option>
		 <option value="3">3</option>
		 <option value="4">4</option>
		 <option value="5">5</option>
		<input type="submit" value="Get Faceholder"> 
	</form>

	<div>
		<img src="http://localhost:3000/200/200">
	</div>

</section>
</body>
</html>